.inp {
  width: 50%;
  height: 40px;
  outline: none;
  border: 2px solid #e2e8f0;
  border-radius: 5px;
  font-size: 18px;
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.btn {
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  background: #8c52ff;
  padding: 10px 20px 8px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #a070ff;
  text-decoration: none;
}
.card {
  width: 80vw;
  height: 100vh;
  color: #ffffff;

  text-align: center;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
